###############################################################################
## default files
###############################################################################

tmp/
cache/
**/*.iml
.~lock*
.history
.env
.idea
.vscode
*.cache
*.retry
*.pyc
*.csv
**/.DS_Store
**/.swp

###############################################################################
## private files
###############################################################################

*.tmp.md
work/
workdesk/
test_*.sh
