###############################################################################
## default files
###############################################################################

tmp/
cache/
**/*.iml
.~lock*
.history
.env
.idea
.vscode
*.cache
*.retry
*.pyc
*.csv
**/.DS_Store
**/.swp


###############################################################################
## Ansible
###############################################################################

*.retry
.vault_pass
.ansible/
.serena/


###############################################################################
## Private
###############################################################################

vars/work/
group_vars/
host_vars/
templates/
tasks/
scripts/
