[defaults]
inventory = inventory.ini
remote_tmp = $HOME/.ansible/tmp
local_tmp = $HOME/.ansible/tmp
interpreter_python = /usr/bin/python3
# ansible_python_interpreter = auto_silent
# ansible_ssh_common_args = '-o StrictHostKeyChecking=no'
forks=20
pipelining = true
# to measure time per task uncomment the following line
# callbacks_enabled = timer, profile_tasks, profile_roles
# callback plugin to beautify your Ansible playbook output.
#stdout_callback = community.general.yaml
result_format=yaml
# strategy
#strategy_plugins = /usr/lib/python3/dist-packages/
#strategy = mitogen_linear

[connection]
pipelining = true

[ssh_connection]
#pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=300s -o RequestTTY=no -o ConnectTimeout=10 -o ConnectionAttempts=3 -o ServerAliveInterval=30 -o ServerAliveCountMax=3
retries = 3
ssh_common_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
#ssh_extra_args = -F /home/marcelof/.sdm/ssh_config
control_path = /tmp/.ansible-ssh-%%C
scp_if_ssh = True
