#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Password Manager
Exec=/home/marcelof/bin/chrome-wayland --profile-directory=Default --app-id=kajebgjangihfbkjfejcanhanjmmbcfd
Icon=chrome-kajebgjangihfbkjfejcanhanjmmbcfd-Default
StartupWMClass=crx_kajebgjangihfbkjfejcanhanjmmbcfd
