#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Sheets
Exec=/home/marcelof/bin/chrome-wayland "--profile-directory=Profile 1" --app-id=fhihpiojkbmbpdjeoajapmgkhlnakfjf
Icon=chrome-fhihpiojkbmbpdjeoajapmgkhlnakfjf-Profile_1
NoDisplay=true
StartupWMClass=crx_fhihpiojkbmbpdjeoajapmgkhlnakfjf
