#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Sheets
Exec=/home/marcelof/bin/chrome-wayland --profile-directory=Default --app-id=fhihpiojkbmbpdjeoajapmgkhlnakfjf
Icon=chrome-fhihpiojkbmbpdjeoajapmgkhlnakfjf-Default
NoDisplay=true
StartupWMClass=crx_fhihpiojkbmbpdjeoajapmgkhlnakfjf
