[Desktop Entry]
Type=Application
Name=Omawrite
GenericName=Markdown Writer
Comment=Dead-simple Markdown writing app
Exec=omawrite %f
Icon=omawrite
Terminal=false
Categories=Office;WordProcessor;TextEditor;
MimeType=text/markdown;text/x-markdown;text/plain;
Keywords=markdown;write;notes;text;editor;
StartupWMClass=omawrite
